{% extends "base.html" %}

{% block dropdown %}
    {% include "vice-president/vice-president-base.html" %}
{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>{{ position }}</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">{% block heading %}Select the brothers living in the house{% endblock %}</div>
        {% include "default-form.html" %}
    </div>
{% endblock %}
