{% extends "base.html" %}

{% block dropdown %}
    {% if position == "Secretary" %}
       {% include "secretary/secretary-base.html" %}
    {% elif position == "Recruitment Chair" %}
        {% include "recruitment-chair/recruitment-chair-base.html" %}
    {% endif %}
{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Attendance</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Brother Attendance</div>
        <div class="panel-body">
            <table class="table table-event-information">
                <thead style="font-weight:bold;">
                <tr>
                    <td>Brother:</td>
                    <td>Events Excused:</td>
                    <td>Events Unexcused:</td>
                    <td>Attendance Fraction</td>
                </tr>
                </thead>
                <tbody>
                {% for brother, events_excused, events_unexcused, events_attended, events_eligible in brother_attendance %}
                    <tr>
                        <td>{{ brother.first_name }} {{ brother.last_name }}</td>
                        <td>{{ events_excused }}</td>
                        <td>{{ events_unexcused }}</td>
                        <td>{{ events_attended }}/{{ events_eligible }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
