{% extends "events/base-event.html" %}

{% block dropdown %}
    {% include "recruitment-chair/recruitment-chair-base.html" %}
{% endblock %}

{% block edit_button %}
    <a class="btn btn-default" href={% url 'dashboard:recruitment_c_event_edit' event.id %} role="button">Edit event</a>
{% endblock %}

{% block picture %}
    <tr>
        <img src="/media/{{ event.picture }}" alt="" style="align-self: center; display: block; max-width: 100%; max-height: 400px; margin-left: auto; margin-right: auto;">
    </tr>
{% endblock %}

{% block location %}
    <tr>
        <td>Location</td>
        <td>{{ event.location }}</td>
    </tr>
{% endblock %}

{% block generalattendance %}
    {% if type == 'attendance' %}
        <div class="panel panel-default">
            <div class="panel-heading">General Attendance</div>
            <div class="panel-body">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.non_field.errors }}
                    {% for form in pnm_form_list %}
                        {% for field in form %}
                            {{ field }}{{ field.label_tag }}
                        {% endfor %}
                        <br>
                    {% endfor %}
                    <input class="btn btn-success" type="submit" name="updatepnm" value="Update General Attendance"/>
                </form>
            </div>
        </div>
    {% endif %}
    {% if type == 'brother-view' or type == 'ec-view' %}
        <div class="panel panel-default">
            <div class="panel-heading">General Attendance</div>
            <div class="panel-body">
                {% for pnm in attendees_pnms %}
                    {{ pnm }}<br>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
